.shipment-list {
    width: 90%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .column-view {
        display: flex;
        flex-direction: column;
        gap: 1%;
    }
}