.add-form {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    h4{
        margin-left: 30px;
        font-size: 15px;
        color: rgb(233, 233, 233);
    }
    hr {
        background-color: lightgray;
        width: 95%;
        margin: 20px;
    }
    .add-form-form{
        padding: 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .add-form-item {
            display: flex;
            flex-direction: column;
            label {
                margin: 5px;
            }
            input {
                padding: 5px;
                width: 400px;
                height: 30px;
                background-color: rgb(233, 233, 233);
                border: 0px solid;
                border-radius: 5px;
            }
        }
        .add-form-submit{
            width: 70px;
            height: 30px;
            background-color: dodgerblue;
            border: 0px solid;
            border-radius: 5px;
            color: white;
            margin-left: 390px;
            &:hover {
                color: black;
            }
        }
    }
}