.app-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    bottom: 50px;
    input {
        width: 50%;
        padding: 9px;
        height: 40px;
        background-color: #e5e5e5;
        border-radius: 5px;
        border: 0px;
    }
    select {
        width: 20%;
        padding: 9px;
        height: 40px;
        background-color: #e5e5e5;
        border-radius: 5px;
        border: 0px;
    }
}